* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, .5);
}

.card-header {
    padding: 20px 0;
    background-color: #0e3c78;
}

.card-header h1 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 5px;
}

.card-header h2 {
    font-size: 20px;
}

.card-content {
    padding: 20px;
}

.card-content p {
    color: #333;
    font-size: 20px;
}

.card-footer {
    font-size: 20px;
}

.contact-link {
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #0e3c78;
}

.contact-link:hover {
    background-color: #094f9f;
}

.social-links {
    margin-top: 15px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.social-links li ion-icon {
    color: #000;
    padding: 10px;
    font-size: 35px;
}

.social-links  .fb ion-icon {
    color: #3b5998;
}

.social-links  .git ion-icon {
    color: #181717;
}

.social-links  .insta ion-icon {
    color: #E4405F;
}

.social-links  .link ion-icon {
    color: #0A66C2;
}

.social-links  .tik ion-icon {
    color: #000000;
}