* {
    margin: 0;
    padding: 0;
    z-index: 100;
    box-sizing: border-box;
}

#body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
}

/* #header .bg {
    background-color: red;
} */

.nav {
    width: 350px;
    height: 600px;
    /* height: auto; */
    border-radius: 10px;
    /* border: 1px solid #000; */
    box-shadow: 5px 5px 16px rgba(0, 0, 0, .5);
}

header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    color: #0000ee;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links {
    display: flex;
}

.links li {
    list-style: none;
}

.links li a {
    color: #000;
    display: flex;
    padding: 0 5px;
    font-size: 25px;
}

.links li a ion-icon {
    display: flex;
    padding: 5px;
    border-radius: 50%;
    background-color: #d0d1d4;
}

#header .icons ul {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.nav .icons ul li {
    display: flex;
    list-style: none;
}

.nav .icons ul li a {
    color: gray;
    font-size: 25px;
    padding: 0 17px;
    /* background-color: #0f0; */
}

.nav .icons ul li .blue {
    color: #0000ee;
}


/* Section Profil  */
.profil .pub {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profil .pub .img {
    padding-right: 10px;
}

.profil .pub img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.profil .pub input {
    width: 70%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #d0d1d4;
}

.profil .pub .photo {
    text-align: center;
}

.profil .pub .photo ion-icon {
    color: #00ff00;
    font-size: 25px;
    font-weight: 600;
}

/* Card story  */
#card {
    display: flex;
}

.card-story {
    /* height: 200px; */
    margin: 0 10px;
    max-width: 120px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #f0f0f0; */
    background-color: #fff;
    /* box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.2); */
}

.card-story .card {
    height: auto;
}

.card-story .card img {
    width: 100%;
    /* height: auto; */
    height: 110px;
    display: flex;
    object-fit: cover;
    /* border: 1px solid #000; */
    border-radius: 10px 10px 0 0;
}

.card-story .card ion-icon {
    width: 100%;
    font-size: 40px;
    color: #0000ee;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
}

.card-story .card .text {
    padding: 5px 0;
    text-align: center;
}

.card-story .card .text p {
    font-size: 18px;
    font-weight: 600;
    font-family: none;
}

/* Story  */
/* Conteneur principal */
.story-card {
    width: 120px;
    margin: 0 20px 0 10px;
}

/* Conteneur de l'histoire */
.add-story {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
    /* box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.2); */
}

/* Image qui remplit le conteneur */
.add-story img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* Style pour le nom */
.name {
    color: white;
    padding: 5px 10px; 
    border-radius: 5px;
    position: absolute;
    bottom: 8px;
    left: 25%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
}

#bg .bg {
    /* background-color: red; */
    /* box-shadow: 10px 10px 16px; */
    background-color: #d0d1d4;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: #fff;
    /* background-color: red; */
    background-color: #d0d1d4;
    margin: 5px 0;
    padding: 0 40px 0 0;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#header .me {
    width: 100%;
    /* height: 55px; */
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
}

.public {
    width: 100%;
    height: 50px;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.public .img {
    display: flex;
    align-items: center;
}

.public .img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.img ul {
    display: flex;justify-content: space-between;
}

.img ul li {
    list-style: none;
}

.pub .img p {
    font-size: 20px;
    font-weight: 600;
    margin-left: 4px;
}

.pub .img .icons {
    display: flex;
}

.pub .icons a {
    color: #d3d3d3;
    font-size: 20px;
    padding: 0 4px;
    display: flex;
}